---
import Section from "./section.astro";
const {profilePhoto, name, description, especialidad, ubicacion, cal = 0, mt, mb, ml, mr} = Astro.props;
import Text from "../components/text.astro";
import Star_icon from "../assets/icons/star_icon.svg";
import Chat_icon from "../assets/icons/chat_icon.svg";
import Button from "../components/button.astro";
let marginTop = "mt-none";
let marginBottom = "mb-none";
let marginLeft = "ml-none";
let marginRight = "mr-none";
if (mt === "true") {
    marginTop = "mt-4";
}
if (mb === "true") {
    marginBottom = "mb-4";
}
if(ml === "true") {
    marginLeft = "ml-4"
}
if(mr === "true") {
    marginRight = "mr-4"
}
const stars = Array.from({length: parseInt(cal)});
---
<div class={`flex flex-row ${marginTop} ${marginBottom} ${marginLeft} ${marginRight} w-fit w-max-64 p-2 rounded bg-tertiaryBackground-light dark:bg-tertiaryBackground-dark`}>
    <div class="w-40 h-40">
        {profilePhoto && (
                <img src={profilePhoto} class="w-full h-full object-cover rounded" loading="lazy"/>
        )}
    </div>
    <Section orientation="row" importance="primary" align="left">
        <Text text={name} type="title"/>
        <Text text={especialidad} type="text"/>
        <Text text={ubicacion} type="mini" mb="true"/>
        <Section orientation="col" padding="false" extraClass=" w-full justify-between">
            <div class="flex gap-1">
                {stars.map(() => (
                        <Star_icon width="24" class="fill-primary"/>
                ))}
            </div>
        </Section>
    </Section>
</div>