---
const {placeholder, id, type, iconLeft: IconLeft, iconRight: IconRight, mt, mb, iconLeftButton, iconRightButton} = Astro.props;
let marginTop = "mt-none";
let marginBottom = "mb-none";
if (mt === "true") {
    marginTop = "mt-4";
}
if (mb === "true") {
    marginBottom = "mb-4";
}
---
{(iconLeftButton || iconRightButton) ? (
  <div class={`group flex justify-between w-full max-w-md border-3 p-2 rounded transition-colors duration-200 ${marginTop} ${marginBottom} border-secondary bg-transparent focus-within:border-primary focus-within:bg-hover-light dark:focus-within:bg-hover-dark`}>
    {IconLeft && iconLeftButton ? (
      <button id={iconLeftButton}><IconLeft width="24" class="fill-secondary transition-colors duration-200 group-focus-within:fill-primary cursor-pointer"/></button>
    ) : IconLeft ? (
      <IconLeft width="24" class="fill-secondary transition-colors duration-200 group-focus-within:fill-primary"/>
    ) : null}
    <input type={type} id={id} name={id} placeholder={placeholder} class="w-full px-2 font-medium outline-none text-primaryText-light dark:text-primaryText-dark"/>
    {IconRight && iconRightButton ? (
      <button id={iconRightButton}><IconRight width="24" class="fill-secondary transition-colors duration-200 group-focus-within:fill-primary cursor-pointer"/></button>
    ) : IconRight ? (
      <IconRight width="24" class="fill-secondary transition-colors duration-200 group-focus-within:fill-primary"/>
    ) : null}
  </div>
) : (
  <div class={`group flex justify-between w-full max-w-md border-3 p-2 rounded transition-colors duration-200 ${marginTop} ${marginBottom} border-secondary bg-transparent focus-within:border-primary focus-within:bg-hover-light dark:focus-within:bg-hover-dark`}>
    {IconLeft && (<IconLeft width="24" class="fill-secondary transition-colors duration-200 group-focus-within:fill-primary"/>)}
    <input type={type} id={id} name={id} placeholder={placeholder} class="w-full px-2 font-medium outline-none text-primaryText-light dark:text-primaryText-dark"/>
    {IconRight && (<IconRight width="24" class="fill-secondary transition-colors duration-200 group-focus-within:fill-primary"/>)}
  </div>
)}
