---
import Section from "./section.astro";
const { profilePhoto, name, description, especialidad, ubicacion, consultorio, date, time, mt, mb, ml, mr } = Astro.props;
import Text from "../components/text.astro";
import Theeth_icon from "../assets/icons/theeth_icon.svg";
import TheethFull_icon from "../assets/icons/theethFull.svg";
import HalfTheet_icon from "../assets/icons/halfTheet_icon.svg";
import Button from "../components/button.astro";

let marginTop = "mt-none";
let marginBottom = "mb-none";
let marginLeft = "ml-none";
let marginRight = "mr-none";

if (mt === "true") {
    marginTop = "mt-4";
}
if (mb === "true") {
    marginBottom = "mb-4";
}
if (ml === "true") {
    marginLeft = "ml-4";
}
if (mr === "true") {
    marginRight = "mr-4";
}
---
<div class={`flex flex-row ${marginTop} ${marginBottom} ${marginLeft} ${marginRight} w-128 w-max-128 p-2 rounded bg-tertiaryBackground-light dark:bg-tertiaryBackground-dark`}>
    <Section orientation="row" importance="primary" align="left">
        <Text text="Consultorio a 2.1Km" type="title"/>
        <Section orientation="column">
            {profilePhoto && (
                    <img src={profilePhoto} class=" object-cover rounded" loading="lazy"/>
            )}
        </Section>
        <Button design="primary" text="Ir a maps" mb="true"/>
        <Button design="primary" text="Ir a waze" mb="true"/>
        <Button design="primary" text="Ir a Apple Maps"/>
    </Section>
</div>