---
import "../styles/global.css";
import '@fontsource-variable/manrope';
import {ClientRouter} from 'astro:transitions';
import NavBar from "../components/navBar.astro";
import Whatsapp_icon from "../assets/icons/whatsapp_icon.svg";
import Button from "../components/button.astro";
const {align, orientation} = Astro.props;
let contentWraper = "";
let layoutOrientation = "";
if(orientation == "row"){
    layoutOrientation = "flex-col"
}
if (orientation == "column"){
    layoutOrientation = "flex-row"
}
if (orientation == "row") {
    layoutOrientation = "flex-col"
}
if (align == "center") {
    contentWraper = 'flex items-center justify-center ';
}
if (align == "left") {
    contentWraper = 'flex items-start justify-start ';
}
if (align == "right") {
    contentWraper = 'flex items-end justify-end ';
}
---
<html lang="es" data-theme="light">
<head>
    <title>Densora</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <ClientRouter/>
</head>
<body class={`min-h-screen flex flex-col bg-primaryBackground-light dark:bg-primaryBackground-dark font-sans`}>
<header>
    <NavBar />
</header>

<main class="flex-grow p-12 pt-0 ${contentWraper} ${layoutOrientation}">
    <slot />
</main>

<footer class="relative w-full h-20 mt-auto">
    <Button design="icon" href="https://wa.me/1XXXXXXXXXX" icon={Whatsapp_icon}/>
</footer>

<script type="module" src="/src/scripts/barraDeBusqueda.js" />
</body>

</html>
<style>
    body {
        font-family: "Manrope Variable", serif;
    }
</style>