---
import Section from "./section.astro";
const { profilePhoto = [], name = [], description = [], especialidad = [], ubicacion = [], cal = []} = Astro.props;
import Text from "../components/text.astro";
import Theeth_icon from "../assets/icons/theeth_icon.svg";
import TheethFull_icon from "../assets/icons/theethFull.svg";
import HalfTheet_icon from "../assets/icons/halfTheet_icon.svg";

const totalStars = 5;
let fullStars = Math.floor(cal);
let hasHalfStar = false;

if (cal % 1 >= 0.25 && cal % 1 < 0.75) {
    hasHalfStar = true;
}
let emptyStars = totalStars - fullStars;
if (hasHalfStar) {
    emptyStars -= 1;
}
---
{profilePhoto.map((photo, index) => {
    const totalStars = 5;
    let fullStars = Math.floor(cal[index] || 0);
    let hasHalfStar = false;

    if ((cal[index] || 0) % 1 >= 0.25 && (cal[index] || 0) % 1 < 0.75) {
        hasHalfStar = true;
        }

    let emptyStars = totalStars - fullStars;
    if (hasHalfStar) emptyStars -= 1;

    return (
    <>
        <div class="w-48" key={index}>
            {photo && (
                    <img src={photo} class="w-full h-full object-cover rounded" loading="lazy"/>
            )}
        </div>
        <Section orientation="row" importance="primary" align="left">
            <Text text={name[index]} type="title"/>
            <Text text={especialidad[index]} type="text"/>
            <Text text={ubicacion[index]} type="mini" mb="true"/>
            <Section orientation="col" padding="false" extraClass=" w-full justify-between">
                <div class="flex gap-1">
                    {Array.from({ length: fullStars }).map((_, i) => (
                            <TheethFull_icon width="24" class="fill-primary" key={i} />
                    ))}
                    {hasHalfStar && <HalfTheet_icon width="24" class="fill-primary" />}
                    {Array.from({ length: emptyStars }).map((_, i) => (
                            <Theeth_icon width="24" class="fill-primary" key={i} />
                    ))}
                </div>
            </Section>
        </Section>
    </>
        );
    })}